.section-compleks {
  padding: 80px 0;
}

.compleks__title {
  max-width: 736px;
  margin-bottom: 60px;
}

.compleks {
  color: white;

  &__top {
    background-color: rgba(31, 32, 87, 1);
  }
  
  &__end {
    background-color: #a0a747;
  }

  &__header {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-title {
      display: flex;
      gap: 12px;
    }

    &-body {
      display: flex;
      justify-content: space-between;
    }
    &-text {
      max-width: 470px;
    }
  }
}

