.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1800px;
  padding-inline: 60px;
  margin: 0 auto;

  &__left {
    display: flex;
    column-gap: 20px;

  }

  &__text {
    font-size: 14px;
    color: $color-brown;
    line-height: 1.2;
  }

  &__right {
    display: flex;
    column-gap: 40px;
  }

  &__btn {
    border: 1px solid $color-dark;
    border-radius: 30px;
    height: $button-height;
    padding-inline: $pudding-inline-btn;

    @include hover {
      background-color: $color-brown;
      color: $color-white;
      border: none;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

  }
} 